{% load static %}
{% include 'inc/header.html' %}
<link rel="stylesheet" href="{% static 'css/solicitudes.css' %}">
<div class="ui container">
    <h1 class="centrarTitulo">Solicitudes de Acceso</h1>
    <div class="contenedor_cards">
        <div class="usuario">
            <img src="{% static 'img/person.png' %}" alt="Logo">
            <code>yojan ceballos</code>
        </div>
        <div class="usuario">
            <img src="{% static 'img/mujer_sonriendo.jpg' %}" alt="Logo">
            <code>yojan ceballos</code>
        </div>
        <div class="usuario">
            <img src="{% static 'img/mujer_sonriendo.jpg' %}" alt="Logo">
            <code>yojan ceballos</code>
        </div>
        <div class="usuario">
            <img src="{% static 'img/mujer_sonriendo.jpg' %}" alt="Logo">
            <code>yojan ceballos</code>
        </div>
        <div class="usuario">
            <img src="{% static 'img/mujer_sonriendo.jpg' %}" alt="Logo">
            <code>yojan ceballos</code>
        </div>
    </div>
    

</div>

<!-- Archivo JS -->
<script src="{% static 'js/.js' %}"></script>
{% include 'inc/footer.html' %}