/* Estilos del encabezado */
header {
    width: 100%;
    padding: 15px 30px 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #efefef;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Josefin Sans', sans-serif;
    z-index: 3;
}

header img {
    width: 70px;
    height: 70px;
}

/* Estilos de navegación */
.navegacion {
    display: flex;
    align-items: center;
}

.navegacion a {
    margin: 0px 15px;
    text-decoration: none;
    color: #212121;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease-in-out;
}

.navegacion a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #91c986;
    transition: width 0.3s ease-in-out;
}

.navegacion a:hover {
    color: rgb(21, 126, 21);
}

.navegacion a:hover::after {
    width: 100%;
}

/* Dropdown personalizado */
.dropdown {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2;
    padding: 10px;
    border-radius: 8px;
    min-width: 180px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(-10px);
    z-index: 100;
}

.dropdown:hover .submenu,
.submenu:hover {
    display: block;
    opacity: 1;
    transform: translateY(4px);
}

.submenu a {
    color: #212121;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease-in-out;
    white-space: nowrap;
    font-size: 14px;
    font-weight: normal;
}

.submenu a:hover {
    background-color: rgb(21, 126, 21);
    color: white;
}

/* Botón personalizado */
.custom-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #73aa69;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-button:hover {
    background-color: rgb(17, 96, 17);
    transform: scale(1.05);
}

@media (max-width: 768px) {
    header {
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 10px;
    }
  
    .hamburguesa {
      display: block;
      position: absolute;
      top: 15px;
      right: 20px;
    }
  
    .navegacion {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      background-color: #efefef;
      width: 100%;
      padding: 20px;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 3;
    }
  
    .navegacion.mostrar {
      display: flex;
    }
  
    .dropdown:hover .submenu {
      position: relative;
      display: block;
      opacity: 1;
      transform: none;
      box-shadow: none;
      margin-left: 10px;
    }
  
    .right.menu {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
    }
}



/* Footer*/
.footer-distributed {
  background-color: #efefef;
  color: #000000;
  padding: 60px 60px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-nav {
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.footer-nav a {
  color: #000000;
  margin: 0 10px;
  text-decoration: none;
}

.footer-nav a:hover {
  color: #ffcb42;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.footer-left {
  max-width: 30%;
  text-align: left;
}

.footer-left p {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.social-icons {
  margin-top: 15px;
}

.social-icons img{
  width: 8%;
}



/* Estilos para el logo en el centro */
.footer-center {
  max-width: 30%;
  display: flex;
  ;
}

.footer-logo {
  width: 80px;
  height: auto;
}

/* Estilos para centrar el contenido en la derecha */
.footer-right {
  max-width: 30%;
  text-align: right;
}

.footer-right h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.btn-footer {
  display: inline-block;
  padding: 10px 20px;
  background-color: #91c986;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-footer:hover {
  background-color: rgb(17, 96, 17);
  transform: scale(1.05);
  color: white;
}
