{% load static %}
{% include 'header.html' %}
    <link rel="stylesheet" href="{% static 'Css/Ganado/style_plantilla.css' %}">

    <!-- Contenido -->
    <div class="main-content">
        <header>
            <a href="http://localhost:8000" class="btn btn-primary btn-lg shadow-sm action-btn">
                <i class="fas fa-file-excel me-2"></i> servicio Ganadería
            </a>
            <button>Botón para generar todo</button>
        </header>

        <h3 class="ui header">Seleccionar orden de las graficas</h3>

        <div class="column-container">
            <div class="selector-box">
                <h5 class="ui dividing header">Columnas Disponibles</h5>
                <div class="ui list">
                    <div class="item toggle-item">
                        <div class="toggle-cont">
                            <input type="checkbox" id="toggle-ID" class="toggle-input" value="ID">
                            <label for="toggle-ID" class="toggle-label">
                                <div class="cont-label-play"></div>
                            </label>
                        </div>
                        <span>ID</span>
                    </div>
                    <div class="item toggle-item">
                        <div class="toggle-cont">
                            <input type="checkbox" id="toggle-Codigo" class="toggle-input" value="Código">
                            <label for="toggle-Codigo" class="toggle-label">
                                <div class="cont-label-play"></div>
                            </label>
                        </div>
                        <span>Código</span>
                    </div>
                    <div class="item toggle-item">
                        <div class="toggle-cont">
                            <input type="checkbox" id="toggle-Raza" class="toggle-input" value="Raza">
                            <label for="toggle-Raza" class="toggle-label">
                                <div class="cont-label-play"></div>
                            </label>
                        </div>
                        <span>Raza</span>
                    </div>
                    <div class="item toggle-item">
                        <div class="toggle-cont">
                            <input type="checkbox" id="toggle-Litros" class="toggle-input" value="Litros de Leche">
                            <label for="toggle-Litros" class="toggle-label">
                                <div class="cont-label-play"></div>
                            </label>
                        </div>
                        <span>Litros de Leche</span>
                    </div>
                    <div class="item toggle-item">
                        <div class="toggle-cont">
                            <input type="checkbox" id="toggle-Crias" class="toggle-input" value="Crias">
                            <label for="toggle-Crias" class="toggle-label">
                                <div class="cont-label-play"></div>
                            </label>
                        </div>
                        <span>Crias</span>
                    </div>
                    <div class="item toggle-item">
                        <div class="toggle-cont">
                            <input type="checkbox" id="toggle-Fecha" class="toggle-input" value="Fecha de Parto">
                            <label for="toggle-Fecha" class="toggle-label">
                                <div class="cont-label-play"></div>
                            </label>
                        </div>
                        <span>Fecha de Parto</span>
                    </div>
                </div>
            </div>

            <div class="selector-box">
                <h5 class="ui dividing header">Ordenar Columnas</h5>
                <div id="selected-columns" class="column-list"></div>
            </div>
        </div>

        <!-- Vista previa con tabla -->
        <div class="preview-table">
            <h5 class="ui dividing header">Vista Previa</h5>
            <table class="ui celled table">
                <thead>
                    <tr id="preview-head"></tr>
                </thead>
                <tbody>
                    <tr id="preview-data"></tr>
                </tbody>
            </table>
        </div>


        <!-- From Uiverse.io by andrew-demchenk0 --> 
        <button type="button" class="button">
        <span class="button__text">Add Item</span>
        <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
        </button>

    </div>
</div>

<script src="{% static 'JavaScript/Ganado/style_plantilla.js' %}"></script>

{% include 'footer.html' %}
